@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Inter, sans-serif;
}
#complimentText {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
#complimentText.is-visible {
  opacity: 1;
}
#socialShareContainer {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}
#socialShareContainer.is-visible {
  opacity: 1;
  visibility: visible;
}
@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.animated-gradient {
  background: linear-gradient(-45deg, #1f2937, #374151, #111827, #4b5563);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}
